<?xml version="1.0"?>
<!-- Copyright (C) 2004, REDSonic, inc. -->
<!-- Author: Charles Wang <cwang@redsonic.com> -->
<page background="image/villa_bg.png" wait_seconds="1">

  <text id="headline" text="@@browse_title_icon" fontsize="40" textcolor="0x07b5ff"/>
  <text id="pagecounter" text="@@pagecounter" />

  <listbox valkey="serverlist" move="row" cols="1" rows="7" lbmask="l" more_select="right"/>
	<image image="@@listprev" x="619" y="194" w="38" h="27"/>
  <table x="281" y="235" w="720" h="357" fontsize="20" selected_fontsize="26"
         cols="1" rows="7" colspacing="0" rowspacing="0"
		 lbimage="image/browser_list_btn.png" clickimage="image/browser_list_btn.png"  
	 textcolor="0xe2e2e2" actnoseltextcolor="0xe2e2e2" actoverlistcolor="0xe2e2e2" 
	 activetextcolor="0xe2e2e2" selectedtextcolor="0xe2e2e2" auto_translate="1">
    <text text="@@serverlist-0" xmargin="65" ymargin="5"
          lightbar="@@lightbar-serverlist-0" active="@@act-serverlist-0"/>

    <text text="@@serverlist-1" xmargin="65" ymargin="5"
          lightbar="@@lightbar-serverlist-1" active="@@act-serverlist-1"/>

    <text text="@@serverlist-2" xmargin="65" ymargin="5"
          lightbar="@@lightbar-serverlist-2" active="@@act-serverlist-2"/>

    <text text="@@serverlist-3" xmargin="65" ymargin="5"
          lightbar="@@lightbar-serverlist-3" active="@@act-serverlist-3"/>

    <text text="@@serverlist-4" xmargin="65" ymargin="5"
          lightbar="@@lightbar-serverlist-4" active="@@act-serverlist-4"/>

    <text text="@@serverlist-5" xmargin="65" ymargin="5"
          lightbar="@@lightbar-serverlist-5" active="@@act-serverlist-5"/>

    <text text="@@serverlist-6" xmargin="65" ymargin="5"
          lightbar="@@lightbar-serverlist-6" active="@@act-serverlist-6"/>
  </table>
	<image image="@@listmore" x="619" y="605" w="38" h="27"/>
  <wrapper x="293" w="695" h="1">
    <image image="@@browser_0_line" ymargin="0" y="285"/>
	<image image="@@browser_1_line" ymargin="0" y="336"/>
	<image image="@@browser_2_line" ymargin="0" y="387"/>
    <image image="@@browser_3_line" ymargin="0" y="438"/>
    <image image="@@browser_4_line" ymargin="0" y="489"/>
    <image image="@@browser_5_line" ymargin="0" y="540"/>
    <image image="@@browser_6_line" ymargin="0" y="591"/>
  </wrapper>
  <table x="293" y="235" w="50" h="357"
           cols="1" rows="7" colspacing="0" rowspacing="0" >
    <image image="@@browse_0_icon" ymargin="0" />
    <image image="@@browse_1_icon" ymargin="0" />
    <image image="@@browse_2_icon" ymargin="0" />
    <image image="@@browse_3_icon" ymargin="0" />
    <image image="@@browse_4_icon" ymargin="0" />
    <image image="@@browse_5_icon" ymargin="0" />
    <image image="@@browse_6_icon" ymargin="0" />
  </table>
  <include filename="./info.xml"/>
  <include filename="./inc_loading.xml"/>
  <!-- fixed --> 
  <include filename="././inc_headline_property.xml"/>
  <include filename="./decoration.xml"/>
 </page>
